header{
    display: block;
    margin: 0 auto;
    padding: 0 10px;
    background: #121212;
}
.wrap{
    text-align: left;
    background: #FFFFFF;
    display: block;
    max-width: 120px;
    height: 40px;
    margin: 0 ;
}